<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<aside class="sidebar" th:fragment="sidebarFragment">

    <!-- 로고 -->
    <a th:href="@{/dashboard}" class="logo">
        <img th:src="@{/images/steel-logo2.png}" alt="SteelForecast">
    </a>

    <p class="platform-text">
        AI 기반 생산·재고 리스크 모니터링 시스템
    </p>

    <p class="menu-label">MAIN MENU</p>

    <nav class="side-menu">

        <!-- 대시보드 -->
        <a th:href="@{/dashboard}" class="menu-item">
            <i class="fa-solid fa-chart-line"></i>
            <span>대시보드</span>
        </a>

        <!-- 운영 입력 -->
        <a th:href="@{/plan}" class="menu-item">
            <i class="fa-solid fa-clipboard-list"></i>
            <span>계획 / 재고 입력</span>
        </a>

        <!-- AI 실행 -->
        <a th:href="@{/forecast/run}" class="menu-item">
            <i class="fa-solid fa-robot"></i>
            <span>AI 예측 실행</span>
        </a>

        <!-- 결과 -->
        <a th:href="@{/dashboard}" class="menu-item">
            <i class="fa-solid fa-chart-column"></i>
            <span>분석 결과</span>
        </a>

    </nav>

    <div class="sidebar-footer">

        <form th:action="@{/logout}" method="post">

            <button type="submit" class="logout-btn">

                <i class="fa-solid fa-right-from-bracket"></i>

                <span>로그아웃</span>

            </button>

        </form>

    </div>

</aside>

</html>